.News {    
  display: flex;
  flex-direction: column;
  justify-content: space-between;    
  font-size: 2em;    
}
.TopCard {
  display: flex;
  justify-content: center;    
}
.TopNewsType { 
  width: 80%;
  margin: 0 auto;
}
.BottomCards {
  display: flex;
  width: 80%;   
  justify-content: center;
  align-self: center;
  flex-wrap: wrap; 
}
